target/
.mvn/
.DS_Store
mvnw
mvnw.cmd
.MF

### STS ###`
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Redis files ###
*.rdb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Исключение логов и временных файлов
.log
*.log
*.log.*
*.log?
*.swp
*~

# Исключение файлов с зависимостями и сгенерированных файлов
.idea_modules/

# Исключение локальных файлов базы данных
/data/

# Исключение файлов с паролями и ключами
*.jks
*.p12
*.pem
*.key

# Исключение файлов и директорий для тестов
test-output/
.surefire-report/
failsafe-reports/
*.idea
